<!-- Footer -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <h5 class="footer-title">Jojo's Production</h5>
                    <p class="footer-text">Crafting moments into memories through exceptional production services.</p>
                    <div class="social-links">
                        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul class="footer-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/inquiry">Inquiry</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <h5 class="footer-title">Contact Info</h5>
                    <div class="contact-info">
                        <p><i class="fas fa-envelope"></i> contact@jojosproduction.com</p>
                        <p><i class="fas fa-phone"></i> +1 (555) 123-4567</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom">
                        <p>&copy; Jojo's Production - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Custom JS -->
    <script src="/js/main.js"></script>
</body>
</html>